<?xml version="1.0"?>
<model>
  <name>Ouster LIDAR 32 Channels</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Achmad Fathoni</name>
    <email>fathoni.id@gmail.com</email>
  </author>

  <maintainer email="fathoni.id@gmail.com">Achmad Fathoni</maintainer>
  <description>
    os1-32 lidar
  </description>
</model>
